<Header id="home" >
    <div class="w3-container w3-panel w3-padding-64 w3-center w3-opacity">
      <h1 id="header"><a [routerLink]="['/home']" style="text-decoration:none;">HONU</a></h1>
    </div>
</Header>
<div class="w3-content w3-section w3-margin" style="max-width:1500px; text-align: justify; text-justify: inter-word;">
CareerRail was conceived with a singular mission, to help professionals remove roadblocks and grow in their careers. 
We at CareerRail understand that the real challenge in the age of information is too much information. This primarily creates difficulty for anyone trying to achieve focused growth. 
Our aim is to help by providing personalized career services that meet your individual needs.
</div>
