<Header id="home" class="w3-container w3-panel w3-padding-64 w3-center w3-opacity">
  <h1 id="header">HONU</h1>
</Header>
<div class="w3-row w3-padding-8">
  <div class="w3-col w3-container" style="width:20%"></div>
  <div class="w3-col w3-container" style="width:60%">
    <google-signin  [clientId]="myClientId" [width]="myWidth" [theme]="myTheme" [scope]="myScope" [longTitle]="myLongTitle"
      (googleSignInSuccess)="onGoogleSignInSuccess($event)"></google-signin>
  </div>
  <div class="w3-col w3-container" style="width:20%"></div>
</div>
<div class="w3-row w3-padding-8">
  <div class="w3-col w3-container" style="width:20%"></div>
  <div class="w3-col w3-container" style="width:80%"><button [routerLink]=" ['/signup'] " class="w3-btn-block w3-grey w3-round" style="max-width:100px">Sign Up</button>
  </div>
</div>