<Header id="home" class="w3-container w3-panel w3-padding-48 w3-center w3-opacity">
   <h1 id="header"><a [routerLink]="['/home']" style="text-decoration:none;">HONU</a></h1>
</Header>
<div class="w3-row">
  <div class="w3-col s2"><p></p></div>
  <div class="w3-col s6">Sign in</div>
  <div class="w3-col s2  w3-center"></div>
</div>
<div class="w3-row w3-margin-top">
  <div class="w3-col s2  w3-center"><p></p></div>
  <div class="w3-col s8  w3-center"><google-signin  [clientId]="myClientId" [width]="myWidth" [theme]="myTheme" [scope]="myScope" [longTitle]="myLongTitle"
      (googleSignInSuccess)="onGoogleSignInSuccess($event)"></google-signin></div>
  <div class="w3-col s2  w3-center"><p></p></div>
</div>
<div class="w3-row w3-margin-top w3-center">
  or
</div>
<form [formGroup]="signInForm" (ngSubmit)="signIn(signInForm.value)">
<div class="w3-row w3-margin-top">
  <div class="w3-col s2  w3-center"><p></p></div>
  <div class="w3-col s8  w3-center">
<input class="w3-input" type="text" placeholder="Email" formControlName="email"></div>
  <div class="w3-col s2  w3-center"><p></p></div>
</div>
<div class="w3-row w3-margin-top">
  <div class="w3-col s2  w3-center"><p></p></div>
  <div class="w3-col s8  w3-center">
<input class="w3-input" type="password" placeholder="Password" formControlName="password"></div>
  <div class="w3-col s2  w3-center"><p></p></div>
</div>
<div class="w3-row w3-margin-top">
  <div class="w3-col s2 w3-center"><p></p></div>
  <div class="w3-col s8 w3-center"><button class="w3-btn" style="float: right;" type="submit" [disabled]="!signInForm.valid">Sign in</button></div>
  <div class="w3-col s2 w3-center"><p></p></div>
</div>
</form>
<div class="w3-row w3-margin-top">
  <div class="w3-col s4  w3-center"><p></p></div>
  <div class="w3-col s8  w3-center"><a [routerLink]=" ['/signup'] ">Create an account</a></div>
  <div class="w3-col s3  w3-center"><p></p></div>
</div>


