<Header id="home" class="w3-container w3-panel w3-padding-64 w3-center w3-opacity">
    <h1 id="header">HONU</h1>
</Header>
<div class="w3-content" style="max-width:1500px">
  <!-- Header -->
  <div class="w3-container w3-center">
    <div class="w3-panel"> <button class="w3-btn-block w3-grey w3-round" style="max-width:350px" [routerLink]=" ['signon'] ">Resume & Cover Letter</button>      </div>
    <div class="w3-panel"> <button class="w3-btn-block w3-grey w3-round" style="max-width:350px">Mock Interview</button> </div>
    <div class="w3-panel">
      <button class="w3-btn-block w3-grey w3-round" style="max-width:350px">Career Advice</button> </div>
    <div class="w3-panel">
      <button class="w3-btn-block w3-grey w3-round" style="max-width:350px">Coach & Mentor</button> </div>
  </div>
  <!-- End Page Content -->
</div>