html, body{
  height: 100%;    
  background-color: #2e3141;
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  /*font-size: 16.5pt;font-weight: 300;line-height: 1.65;*/
}

a.active {
  background-color: gray;
}
  
h1 {
  letter-spacing: 6px
}

#header{    
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}

.w3-row-padding img {
  margin-bottom: 12px
}

footer{
  font-size: 10pt;
}

a.active {  
  background-color: gray;
}