<div class="w3-container w3-center">
    <div class="w3-panel">
        <google-signin [clientId]="myClientId" [width]="myWidth" [theme]="myTheme" [scope]="myScope" [longTitle]="myLongTitle"
            (googleSignInSuccess)="onGoogleSignInSuccess($event)"></google-signin>
    </div>
    <div class="w3-panel"> <span>Signup Email </span><input type="text" class="w3-text" style="margin-right: 10px; margin-left: 10px; margin-bottom: 10px;"> <button class="w3-btn-block w3-grey w3-round" style="max-width:100px">Submit</button> </div>
</div>