<div class="w3-container">
    <div class="w3-panel w3-blue w3-card-8"> {{name}}
        <div>Thank you for your interest </div>
    </div>
    <div class="w3-panel w3-blue w3-card-8">
        <form class="w3-container"><label>Details About Yourself</label><textarea class="w3-text">    Industry:    Area of expertise:    No. of years experience:    Location:    How can we help you to find a better job:</textarea>
            <button
                class="w3-btn w3-grey w3-round">Submit</button>
        </form>
    </div>
</div>"