<div class="w3-row">
    <div class="w3-container">Hi {{name}}
    </div>
</div>

<div class="w3-row">
    <div class="w3-container">Thank you for your interest
    </div>
</div>



<div class="w3-row" style="margin-top: 20px;">
    <div class="w3-container w3-quarter"><label>Details About Yourself</label>
    </div>
    <div class="w3-container w3-half">
        <textarea class="w3-text" rows="10" style="width: 100%;">Industry:    
Area of expertise:   
No. of years experience:    
Location:    
How can we help you to find a better job:</textarea>
    </div>
    <div class="w3-container w3-quarter">
    </div>
</div>
<div class="w3-row">
    <div class="w3-container w3-quarter">
    </div>
    <div class="w3-container w3-half" style="text-align: right;">
 <button class="w3-btn w3-grey w3-round" >Submit</button>
    </div>
    <div class="w3-container w3-quarter">
    </div>
</div>